node_modules

# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore any files or directories that start with a dot
.*.swp
.DS_Store
.git

# Ignore compiled or minified JavaScript files
*.js.map
*.min.js

# Ignore compiled or minified CSS files
*.css.map
*.min.css

# Ignore log files
*.log

# Ignore package-lock.json for Node.js projects
package-lock.json

# Ignore compiled HTML files
*.html

# Ignore any other build artifacts or temporary files
build/
dist/
tmp/