node_modules

# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore any files or directories that start with a dot
.*.swp
.DS_Store
.git

# Ignore log files
*.log

# Ignore package-lock.json for Node.js projects
package-lock.json

# Ignore any other build artifacts or temporary files
build/
dist/
tmp/